body {
  margin: 0;
  background: #fff; 
  font-family: Arial, sans-serif;
}

/*담당자 아진: 로고 및 nav 수정 */
header {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

/* Nav */
nav {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: #000;
}

/* 담당자 운택: main1 수정 */
.protein {
  margin: 20px;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#protein-viewer {
  width: 600px;     /* 필요시 조정 */
  height: 400px;
  background: #f2020202
}
/* Main 2 (section) */
.about {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

/* Footer */
footer {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
